<!DOCTYPE html>

<html lang="es" >
  <head>
    <meta charset="utf-8" /><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title></title>
  </head>
  <body>
    <header>
      <div class="container-fluid p-0 m-0">
        <div class="col-12">
          <!-- aqui -->
          <div class="row-12 p-0 m-0">
            <div class="col-lg-12">
              <div class="imagenBanner">
                <img src="<%= asset_path('banner3.jpg') %>" class="img-fluid" alt="Responsive image">
              </div>
            </div>
          </div>
          <div class="row-12 p-0 m-0">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/">
                    <img src="<%= asset_path('logo.png') %>" width="150" height="80" alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" style="float: right; width: 60px; height: 60px;">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item me-3 lg-ms-5">
                        <a class="nav-link" href="/" style="font-size: 1.8em;">Inicio</a>
                      </li>
                      <li class="nav-item me-3 lg-ms-5">
                        <a class="nav-link" href="/cars" style="font-size: 1.8em;">Coches</a>
                      </li>
                      <li class="nav-item me-3">
                        <% if logged_in?%>
                          <a class="nav-link" href="/profile" id="profileButton" style="font-size: 1.8em">Perfil</a>
                        <% end %>
                      </li>
                    </ul>
                    <div class="d-flex align-items-center">
                      <% if !logged_in?%>
                        <button type="button" class="btn btn-success mx-auto" data-bs-toggle="modal" data-bs-target="#ModalForm" id="loggingButton">
                          Iniciar Sesión
                        </button>
                      <%else %>
                        <button type="button" class="btn btn-outline-danger me-5" onclick="window.location.href='/cars/new'" id="publishButton">Publicar Anuncio</button>
                        <%= form_tag '/logout' do %>
                          <%= submit_tag "Cerrar Sesión", class: 'btn btn-danger mx-auto' %>
                        <% end %>
                      <%end %>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Logging Form -->

    <div class="modal fade" id="ModalForm" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Inicio de Sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_tag '/login' do %>
            <div class="modal-body">
              <div class="mb-3">
                Usuario: <%= text_field_tag :username, nil, :required => true %>
              </div>

              <div class="mb-3">
                Contraseña: <%= password_field_tag :password, nil, :required => true  %>
              </div>
              <div id="wrongUser">

              </div>
              <div class="mb-3">
                <input class="form-check-input" type="checkbox" value="" id="remember">
                <label class="form-check-label" for="remember">Recordarme</label>
                <a href="#" class="float-end">Contraseña Olvidada</a>
              </div>
            </div>
            <div class="modal-footer pt-4">
              <%= submit_tag "Iniciar Sesión" %>
            </div>
            <p class="text-center">¿No tienes cuenta?, <a href="/users/new">Registrese</a></p>
          <%end %>
        </div>
      </div>
    </div>

    <div class="register">
      <div class="registerForm">
        <%= form_with(model: @user) do |f| %>
          <h1>Registro</h1>
          <p>Rellene este formulario para crear su cuenta</p>
          <hr>
          <b><%=  f.label :fullname, "Nombre y Apellidos"%></b>
          <%= f.text_field :fullname, :placeholder => "Introduzca Nombre y Apellidos", :required => true%>

          <b><%=  f.label :username, "Usuario"%></b>
          <%= f.text_field :username, :placeholder => "Introduzca Nombre de Usuario", :required => true%>

          <b><%=  f.label :email, "Email"%></b>
          <%= f.text_field :email, :placeholder => "Introduzca Email", :required => true%>

          <b><%=  f.label :password, "Contraseña"%></b>
          <%= f.password_field :password, :placeholder => "Introduzca Contraseña", :required => true, :pattern => "^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$", :tittle => "La contraseña debe ser de 6 caracteres minimo, contener al menos una Mayuscula, una Minusucla, un Numero y un Caracter Especial"%>

          <b><%=  f.label :psw_repeat, "Repetir Contraseña"%></b>
          <%= f.password_field :psw_repeat, :placeholder => "Repita la Contraseña", :required => true, :oninput =>"check(this)"%>

          <div id="passwordNotMatch"></div>

          <b><%=  f.label :location, "Provincia"%></b>
          <%= f.text_field :location, :placeholder => "Provincia", :required => true%>

          <b><%=  f.label :zipcode, "Código Postal"%></b>
          <%= f.text_field :zipcode, :placeholder => "Código Postal", :required => true%>

          <b><%=  f.label :borndate, "Fecha de Nacimiento"%></b>
          <%= f.text_field :borndate, :placeholder => "Fecha de Nacimiento", :pattern => '^(19|20)\d\d[-](0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])$', :title => 'La fecha debe tener formato AAAA-MM-DD', :required => true%>

          <b><%=  f.label :telephone, "Telefono"%></b>
          <%= f.text_field :telephone, :placeholder => "Telefono (Ópcional) - Ej: 123 456 789", :pattern => "[0-9]{3} [0-9]{3} [0-9]{3}", :tittle => "El telefono deben ser 9 numeros agrupados en 3 separados por espacios Ej: 123 456 789"%>


          <p>Creando esta cuenta usted acepta nuestra <a href="#">Politica y Terminos</a>.</p>

          <%= f.submit "Registrar" %>
        <% end %>
      </div>
    </div>
    <script>
        var modal = document.getElementById('id01');

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function check(input) {
            if (input.value != document.getElementById('psw').value) {
                input.setCustomValidity('Las contraseñas deben coincidir');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>
  </body>
</html>