<div>
    <%= @car.idusuario %>
</div>
<div>
    <%= @car.marca %>
</div>
<div>
    <%= @car.modelo %>
</div>
<div>
    <%= @car.matriculacion %>
</div>
<div>
    <%= @car.kilometros %>
</div>
<div>
    <%= @car.cilindrada %>
</div>
<div>
    <%= @car.combustible %>
</div>
<div>
    <%= @car.localizacion %>
</div>
<div>
    <%= @car.potencia %>
</div>
<div>
    <%= @car.color %>
</div>
<div>
    <%= @car.puertas %>
</div>
<div>
    <%= @car.cajadecambios %>
</div>
<div>
    <%= @car.descripcion %>
</div>
<div>
    <%= @car.precio %>
</div>
<div>
    <%= @car.destacado %>
</div>